@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-image: linear-gradient(45deg,rgb(77, 1, 77),blue ,rgb(77, 1, 77));
    min-height: 100vh;
}

.box-container{
    @apply border-[2px] rounded-lg border-stone-500 bg-transparent;
    backdrop-filter: blur(15px);
}