@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    color: white;
    background-image: url('./pexels-neo-2653362.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.box-container{
    @apply border rounded-lg bg-transparent p-2;
    border-color: rgba(232, 229, 227,.2);
    backdrop-filter: blur(15px);
}